html {
  height: 100%;
}

body {
 
    --s: 75px; /* control the size*/
    --c1: #b09f79;
    --c2: #476074;
    
    --_g: #0000 83%,var(--c1) 85% 99%,#0000 101%;
    background:
      radial-gradient(27% 29% at right ,var(--_g)) calc(var(--s)/ 2) var(--s),
      radial-gradient(27% 29% at left  ,var(--_g)) calc(var(--s)/-2) var(--s),
      radial-gradient(29% 27% at top   ,var(--_g)) 0 calc(var(--s)/ 2),
      radial-gradient(29% 27% at bottom,var(--_g)) 0 calc(var(--s)/-2)
      var(--c2);
    background-size: calc(2*var(--s)) calc(2*var(--s));
  }




form {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 5px;
  padding: px;
}

.hidden {
  display: none;

}

.img-fluid {
  height: 500px;
  width: auto;
  border: solid black;
  border-radius: 3px;
  margin: 5px;

}

#bot-output {
  font-weight: bold;
}

#results {
  font-weight: bold;
}
