html {
  height: 100%;
}
body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-image: linear-gradient(rgb(0, 183, 255), yellow);
  background-repeat: no-repeat;
  background-image: fixed; 
}

h1 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

form {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin:5px;
  padding: px;
}

.hidden {
  display:none;
}


img {
  height: 400px;
  width:auto;
  border: solid black;
  border-radius: 3px;
  margin:5px;
  
}